<div class="card-footer">
    <div class="row">
        <div class="col-3 data-field">
            <small>Added:<br> <b>23.03.20</b> </small> <br>
        </div>
        <div class="col-3 data-field alert alert-warning">
            <small>Expires: <br> <b>3.05.20</b></small>
        </div>
        <div class="col data-field">
            <h5>5 items</h5>
            <small>=200 ml</small>
        </div>
        
        <div class="col-3 data-field">
            <button 
                class="btn btn-danger btn-block">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
<p>Value: <span id="demo"></span></p>
        </div>
    </div> -->
</div>