
<ng-template #showNutrition>
    <div>
        <button (click)="toggleNutrition()" type="button" class="btn btn-secondary">add nutrition details</button>
    </div>
</ng-template>

<div [formGroup]="nutrientForm" class="list-group" *ngIf="nutrientForm; else showNutrition">

    <div class="list-group-item">
        <button type="button" class="close" aria-label="Close" (click)="toggleNutrition()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="card-title">Nutrition facts</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label
                    class="btn"
                    [ngClass]="{ 
                        'btn-outline-secondary': !(nutrientbase.value === 'hundred_gramm'),
                        'btn-secondary active': nutrientbase.value === 'hundred_gramm' }">
                  <input
                    type="radio"
                    formControlName="nutrientbase"
                    value="hundred_gramm"> per 100g
                </label>
                <label
                    class="btn"
                    [ngClass]="{
                        'btn-outline-secondary': !(nutrientbase.value === 'hundred_milliliter'),
                        'btn-secondary active': nutrientbase.value === 'hundred_milliliter'}">
                  <input
                    type="radio"
                    formControlName="nutrientbase"
                    value="hundred_milliliter"> per 100ml
                </label>
            </div>
        </h6>
    </div>


    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Energy</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="energy_kcal"
                type="number"
                class="form-control"
                aria-label="Energy">

            <div class="input-group-append">
                <span class="input-group-text">kcal</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Carbs</span>
        <div class="input-group" style="width: 55%;">
            <input 
                formControlName="carbs"
                type="number"
                class="form-control"
                aria-label="carbs">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item ">
        <span style="margin-left: 20px;">of which sugar</span>
        <div class="input-group" style="width: 55%;">
            <input 
                formControlName="carbs_sugar"
                type="number"
                class="form-control"
                aria-label="carbs_sugar">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Fat</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="fat" 
                type="number"
                class="form-control"
                aria-label="fat">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item ">
        <span style="margin-left: 20px;">of which saturated</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="fat_saturated"
                name="fat_saturated"
                type="number"
                class="form-control"
                aria-label="fat_saturated">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Protein</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="protein"
                type="number"
                class="form-control"
                aria-label="protein">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Salt</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="salt"
                type="number"
                class="form-control"
                aria-label="salt">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Fibers</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="fiber"
                type="number"
                class="form-control"
                aria-label="fiber">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-between list-group-item">
        <span>Natrium</span>
        <div class="input-group" style="width: 55%;">
            <input
                formControlName="natrium"
                type="number"
                class="form-control"
                aria-label="natrium">

            <div class="input-group-append">
                <span class="input-group-text">g</span>
            </div>
        </div>
    </div>
</div>