
<div *ngIf="showAddProduct" class="alert alert-primary justify-content-between d-flex" role="alert">
    Product with barcode {{ event }} not in database. 
    <button (click)="createProduct()" type="button" class="btn btn-light">Create</button>
</div>

<product-card
    (close)="discardProduct()"
    (edit)="editProduct($event)"
    [product]="product"
    *ngIf="product"
    [show-actions]="true">
</product-card>
<inventory-record></inventory-record>
<inventory-record></inventory-record>

<button (click)="scanSuccessHandler('8710447484326')" class="btn btn-primary">fake scan</button>
<button (click)="scanSuccessHandler('874410447484326')" class="btn btn-primary">fake scan unknown</button>

<button (click)="discardProduct()" class="btn btn-secondary">close</button>

<zxing-scanner
    [formats]="['EAN_13']"
    (scanSuccess)="scanSuccessHandler($event)"
    >
</zxing-scanner>
