
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input
        #queryText
        (keyup)="filterChange(queryText.value)"
        [value]="query ? query : ''"
        type="text" class="form-control" placeholder="Search...">
</p>

<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="barcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </th>
            <td mat-cell *matCellDef="let product"> {{product.barcode}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let product"> <a [routerLink]="['/admin/products/', product.barcode]">Edit</a>  </td>
        </ng-container>
        <!-- <td><a [routerLink]="['/admin/products/', p.barcode]">Edit</a></td> -->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>